<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" href="" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        <span class="mr-3 font-normal d-none d-sm-inline-block pro-name">
            <span>Hello,</span>
            Mendy Simmons
        </span>
        <img src="/mendy-admin/package/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="40">
    </a>
    <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
        <div class="d-flex no-block align-items-center p-3 bg-light mb-2">
            <div class="">
                <img src="/mendy-admin/package/assets/images/users/2.jpg" alt="user" class="rounded-circle"
                     width="60">
            </div>
            <div class="ml-2">
                <h4 class="mb-0">Mendy Simmons</h4>
                <p class="mb-0">mendy@gmail.com</p>
            </div>
        </div>
        <div class="profile-dis scrollable">
            <a class="dropdown-item" href="javascript:void(0)">
                <i class="ti-user mx-1"></i> My Profile
            </a>
            <a class="dropdown-item" href="javascript:void(0)">
                <i class="ti-wallet mx-1"></i> My Balance
            </a>
            <a class="dropdown-item" href="javascript:void(0)">
                <i class="ti-email mx-1"></i> Inbox
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)">
                <i class="ti-settings mx-1"></i> Account Setting
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)">
                <i class="fa fa-power-off mx-1"></i> Logout
            </a>
        </div>
    </div>
</li>