
@{
    ViewData["Title"] = "Drafts";
    Layout = "~/Views/Shared/_InboxlyLayout.cshtml";
}


<div class="container-fluid">
    <div class="email-app">

        @await Component.InvokeAsync("LeftBarInTheMailOperations")
        <div class="right-part mail-list bg-white" style="margin-left:260px;">
            <div class="p-15 d-flex align-items-center do-block">
                <div class="btn-group my-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input sl-all" id="cs">
                        <label class="custom-control-label" for="cs">&nbsp;</label>
                    </div>
                </div>

                <div class="btn-group mr-2" role="group">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle"
                                data-toggle="dropdown">
                            Filtrele
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="Inboxly" asp-action="Inbox">Tüm Mesajlar</a>
                            <a class="dropdown-item" asp-controller="Inboxly" asp-action="Inbox">Okunan</a>
                            <a class="dropdown-item" href="javascript:void(0)">Okunmamış</a>
                            <a class="dropdown-item" href="javascript:void(0)">Bugün</a>
                            <a class="dropdown-item" href="javascript:void(0)">Bu Hafta</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MAİL LİSTESİ -->
            <div class="table-responsive">
                <table class="table email-table no-wrap table-hover v-middle">
                    <tbody>
                        <tr class="unread align-middle">
                            <!-- Checkbox -->
                            <td class="chb">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input mail-check"
                                           id="cst1">
                                    <label class="custom-control-label" for="cst1">&nbsp;</label>
                                </div>
                            </td>


                            <!-- Star -->
                            <td class="starred text-center">
                                <a href="javascript:void(0)" class="star-toggle" title="Yıldızla">
                                    <i class="far fa-star"></i>
                                </a>
                            </td>

                            <!-- User image -->
                            <td class="user-image">
                                <img src="/mendy-admin/package/assets/images/users/1.jpg"
                                     class="rounded-circle" width="30">
                            </td>

                            <!-- User name -->
                            <td class="user-name">
                                <h6 class="m-b-0">Hanna Gover</h6>
                            </td>

                            <!-- Message -->
                            <td class="max-texts">
                                <a class="link" asp-controller="Inboxly" asp-action="Inbox">
                                    <span class="label label-danger m-r-10">İş</span>
                                    <span class="blue-grey-text text-darken-4">
                                        Lorem ipsum perspiciatis -
                                    </span>
                                    unde omnis iste natus error sit voluptatem
                                </a>
                            </td>

                            <!-- Time -->
                            <td class="time text-muted text-right" style="width: 70px;white-space: nowrap;">
                                12:30
                            </td>

                            <td class="text-right action-col" style="width: 36px;">
                                <a href="javascript:void(0)"
                                   class="btn-trash text-muted"
                                   title="Çöp Kutusuna Taşı">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>

                        </tr>
                        <tr class="unread align-middle">
                            <!-- Checkbox -->
                            <td class="chb">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input mail-check"
                                           id="cst2">
                                    <label class="custom-control-label" for="cst2">&nbsp;</label>
                                </div>
                            </td>


                            <!-- Star -->
                            <td class="starred text-center">
                                <a href="javascript:void(0)" class="star-toggle" title="Yıldızla">
                                    <i class="far fa-star"></i>
                                </a>
                            </td>

                            <!-- User image -->
                            <td class="user-image">
                                <img src="/mendy-admin/package/assets/images/users/1.jpg"
                                     class="rounded-circle" width="30">
                            </td>

                            <!-- User name -->
                            <td class="user-name">
                                <h6 class="m-b-0">Hanna Gover</h6>
                            </td>

                            <!-- Message -->
                            <td class="max-texts">
                                <a class="link" asp-controller="Inboxly" asp-action="Inbox">
                                    <span class="label label-danger m-r-10">İş</span>
                                    <span class="blue-grey-text text-darken-4">
                                        Lorem ipsum perspiciatis -
                                    </span>
                                    unde omnis iste natus error sit voluptatem
                                </a>
                            </td>

                            <!-- Time -->
                            <td class="time text-muted text-right" style="width: 70px;white-space: nowrap;">
                                12:30
                            </td>

                            <td class="text-right action-col" style="width: 36px;">
                                <a href="javascript:void(0)"
                                   class="btn-trash text-muted"
                                   title="Çöp Kutusuna Taşı">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


