@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/_InboxlyLayout.cshtml";
}
<div class="email-app">
    <div class="left-part bg-white" style="width:260px;">
        <a class="ti-menu ti-close btn btn-success show-left-part d-block d-md-none" href="javascript:void(0)"></a>

        <div class="scrollable ps-container ps-theme-default" style="height:100%;">
            <div class="p-15">
                <a id="compose_mail" class="waves-effect waves-light btn btn-danger d-block" href="javascript:void(0)">
                    Yeni Mesaj
                </a>
            </div>

            <div class="divider"></div>

            <ul class="list-group">
                <li>
                    <small class="p-15 grey-text text-lighten-1 db">Klasörler</small>
                </li>

                <li class="list-group-item">
                    <a href="#" class="active list-group-item-action">
                        <i class="mdi mdi-inbox"></i>
                        Gelen Kutusu
                        <span class="label bg-success text-white float-right">6</span>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="#" class="list-group-item-action">
                        <i class="mdi mdi-send"></i>
                        Gönderilenler
                        <span class="label bg-info text-white float-right">6</span>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="#" class="list-group-item-action">
                        <i class="mdi mdi-file-document-edit"></i>
                        Taslaklar
                        <span class="label bg-warning text-white float-right">6</span>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="#" class="list-group-item-action">
                        <i class="mdi mdi-star"></i>
                        Yıldızlı
                        <span class="label bg-secondary text-white float-right">6</span>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="#" class="list-group-item-action">
                        <i class="mdi mdi-alert-circle"></i>
                        Spam
                        <span class="label bg-danger text-white float-right">6</span>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="#" class="list-group-item-action">
                        <i class="mdi mdi-delete"></i>
                        Çöp Kutusu
                        <span class="label text-white float-right" style="background-color:red">6</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="right-part mail-list bg-white" style="margin-left:260px;">
        <div class="p-15 d-flex align-items-center do-block">
            <div class="btn-group my-1">
                <h6 style="margin-top:5px">Gelen Kutusu</h6>
            </div>

        </div>
        <div class="table-responsive">
            <table class="table email-table no-wrap table-hover v-middle">
                <tbody>
                    <tr class="unread">
                        <td class="chb">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cst1">
                                <label class="custom-control-label" for="cst1">&nbsp;</label>
                            </div>
                        </td>
                        <td class="starred"><i class="far fa-star"></i></td>
                        <td class="user-image">
                            <img src="/mendy-admin/package/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="30">
                        </td>
                        <td class="user-name">
                            <h6 class="m-b-0">Hanna Gover</h6>
                        </td>
                        <td class="max-texts">
                            <a class="link" href="javascript: void(0)">
                                <span class="blue-grey-text text-darken-4">Lorem ipsum perspiciatis-</span>
                                unde omnis iste natus error sit voluptatem
                            </a>
                        </td>
                        <td class="time"> 12:30 PM </td>
                    </tr>
                    <tr class="unread">
                        <td class="chb">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cst1">
                                <label class="custom-control-label" for="cst1">&nbsp;</label>
                            </div>
                        </td>
                        <td class="starred"><i class="far fa-star"></i></td>
                        <td class="user-image">
                            <img src="/mendy-admin/package/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="30">
                        </td>
                        <td class="user-name">
                            <h6 class="m-b-0">Hanna Gover</h6>
                        </td>
                        <td class="max-texts">
                            <a class="link" href="javascript: void(0)">
                                <span class="blue-grey-text text-darken-4">Lorem ipsum perspiciatis-</span>
                                unde omnis iste natus error sit voluptatem
                            </a>
                        </td>
                        <td class="time"> 12:30 PM </td>
                    </tr>
                    <tr class="unread">
                        <td class="chb">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cst1">
                                <label class="custom-control-label" for="cst1">&nbsp;</label>
                            </div>
                        </td>
                        <td class="starred"><i class="far fa-star"></i></td>
                        <td class="user-image">
                            <img src="/mendy-admin/package/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="30">
                        </td>
                        <td class="user-name">
                            <h6 class="m-b-0">Hanna Gover</h6>
                        </td>
                        <td class="max-texts">
                            <a class="link" href="javascript: void(0)">
                                <span class="blue-grey-text text-darken-4">Lorem ipsum perspiciatis-</span>
                                unde omnis iste natus error sit voluptatem
                            </a>
                        </td>
                        <td class="time"> 12:30 PM </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

