@model SendNewMessageDtos
@{
    ViewData["Title"] = "SendNewMessage";
    Layout = "~/Views/Shared/_InboxlyLayout.cshtml";
}

<div class="container-fluid">
    <div class="email-app">
        @await Component.InvokeAsync("LeftBarInTheMailOperations")
        <div class="right-part mail-compose bg-white" style="margin-left:260px;">
            <div class="p-20 border-bottom">
                <div class="d-flex align-items-center">
                    <div>
                        <h4>Oluştur</h4>
                        <span>Yeni Mesaj Oluştur</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="SendNewMessage" asp-controller="Inboxly" method="post">

                    <!-- ReceiverMail -->
                    <div class="form-group">
                        <input type="email"
                               name="ReceiverMail"
                               class="form-control"
                               placeholder="Kime (E-posta)"
                               required />
                    </div>

                    <!-- Receiver Name & Surname -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text"
                                       name="ReceiverName"
                                       class="form-control"
                                       placeholder="Alıcı Adı"
                                       required />
                            </div>
                            <div class="col-md-6">
                                <input type="text"
                                       name="ReceiverSurname"
                                       class="form-control"
                                       placeholder="Alıcı Soyadı"
                                       required />
                            </div>
                        </div>
                    </div>

                    <!-- Subject -->
                    <div class="form-group">
                        <input type="text"
                               name="Subject"
                               class="form-control"
                               placeholder="Konu"
                               required />
                    </div>

                    <!-- Category -->
                    <div class="form-group">
                        @Html.DropDownListFor(
                        x => x.CategoryId,
                                                (IEnumerable<SelectListItem>)ViewBag.Category,
                                                new { @class = "form-control", required = "required" }
                                                )
                    </div>

                    <!-- Details -->
                    <div class="form-group">
                        <textarea name="Details" id="summernote"></textarea>
                    </div>

                    <input type="hidden" name="SendDate" value="@DateTime.Now" />

                    <button type="submit" name="actionType" value="send" class="btn btn-success m-t-20">
                        <i class="far fa-envelope"></i> Yolla
                    </button>

                    <button type="submit" name="actionType" value="draft" class="btn btn-warning m-t-20">
                        <i class="far fa-save"></i> Taslağa Kaydet
                    </button>

                    <a href="/Inboxly/Inbox" class="btn btn-dark m-t-20">Geri</a>
                </form>
            </div>


        </div>
    </div>
</div>